body{
    text-align: center;
    font-family: 'Arial';
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 30px;
}

#header{
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.5);
}

#header #Tagline{
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#post{
    padding: 1em;
}

.footer{
    background: violet;
    margin: 0 auto;
    padding: 0;
    height: 2em;
    text-align: center;
}

.footer p{
    font-size: 15px;
    font-family: 'Lucida Sans';
    padding: 0.5rem 0;
    position: relative;
}

.content{
    margin-top: 5rem;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    width: 5rem;
    height: 5rem;
    text-align: end;
}